In [76]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import*
from pandas import DataFrame, Series
from sklearn.preprocessing import LabelEncoder

In [77]:
train = pd.read_csv('mushrooms.csv')

In [78]:
labelencoder = LabelEncoder()
for column in train.columns:
    train[column] = labelencoder.fit_transform(train[column])

In [79]:
from sklearn import metrics
from sklearn.model_selection import train_test_split

features = train.drop(['class','bruises','odor','gill-attachment','gill-spacing'], axis=1).values #axis=1 refering to the features. horizontal.
target_label = train['class'].values

In [80]:
x_train, x_valid, y_train, y_valid = train_test_split(features, target_label, test_size = 0.2, random_state = 20)
y_train.shape, y_valid.shape, x_train.shape, x_valid.shape

((6499,), (1625,), (6499, 18), (1625, 18))

In [133]:
from sklearn.neighbors import KNeighborsClassifier as KNN
model = KNN(n_jobs=-1,weights='distance',n_neighbors=4)
model.fit(x_train,y_train)
prediction = model.predict(x_valid)

In [134]:
#prediction

In [135]:
print('Tested number: {} \naccuracy: {:.2f}% '.format(y_valid.shape[0], 100 * accuracy_score(y_valid,prediction)))

Tested number: 1625
accuracy: 99.88%

In [136]:
print('Precision: {:.2f}% \nRecall: {:.2f}% \nF1-score: {:.2f}% '.format(100*precision_score(y_valid,prediction),
                                                                         100*recall_score(y_valid,prediction),100*f1_score(y_valid,prediction)))

Precision: 99.74%
Recall: 100.00%
F1-score: 99.87%

In [137]:
from sklearn.metrics import mean_squared_error
from math import sqrt
rms = sqrt(mean_squared_error(y_valid, prediction))
rms

0.03508232077228117

In [138]:
list = []
for i in np.linspace(0,1,100):
    pred = model.predict_proba(x_valid)[:,1] > i
    cf_mtx = confusion_matrix(y_valid, pred)
    acc = accuracy_score(y_valid, pred)
    f1 = f1_score(y_valid, pred)
    list.append([i, acc, f1])

cut_off = DataFrame(list)
cut_off.columns = ["CUTOFF", "ACC", "F1"]
cut_off

      CUTOFF       ACC        F1
0   0.000000  0.996308  0.996134
1   0.010101  0.996308  0.996134
2   0.020202  0.996308  0.996134
3   0.030303  0.996308  0.996134
4   0.040404  0.996308  0.996134
..       ...       ...       ...
95  0.959596  0.995692  0.995452
96  0.969697  0.995692  0.995452
97  0.979798  0.995692  0.995452
98  0.989899  0.995692  0.995452
99  1.000000  0.524308  0.000000

[100 rows x 3 columns]

In [139]:
cut_off[cut_off["ACC"] == cut_off["ACC"].max()]

      CUTOFF       ACC        F1
42  0.424242  0.998769  0.998708
43  0.434343  0.998769  0.998708
44  0.444444  0.998769  0.998708
45  0.454545  0.998769  0.998708
46  0.464646  0.998769  0.998708
47  0.474747  0.998769  0.998708
48  0.484848  0.998769  0.998708
49  0.494949  0.998769  0.998708
50  0.505051  0.998769  0.998708
51  0.515152  0.998769  0.998708
66  0.666667  0.998769  0.998705
67  0.676768  0.998769  0.998705
68  0.686869  0.998769  0.998705
69  0.696970  0.998769  0.998705
70  0.707071  0.998769  0.998705
71  0.717172  0.998769  0.998705
72  0.727273  0.998769  0.998705
73  0.737374  0.998769  0.998705
74  0.747475  0.998769  0.998705
75  0.757576  0.998769  0.998705
76  0.767677  0.998769  0.998705
77  0.777778  0.998769  0.998705
78  0.787879  0.998769  0.998705

In [141]:
cut_off_ACC_MAX = cut_off[cut_off["ACC"] == cut_off["ACC"].max()]["CUTOFF"][77]
pred_ACC_MAX = model.predict_proba(x_valid)[:,1] > cut_off_ACC_MAX
confusion_matrix(y_valid,pred_ACC_MAX)

array([[852,   0],
       [  2, 771]], dtype=int64)